@keyframes hover-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.push:hover, .push:focus, .push:active {
  animation: hover-pop 0.3s linear 1;
  cursor: pointer;
}